################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/test/Debug
/.vs
/agsw/Debug
/agsw/agsw/x64/Debug
/agsw/agsw/Log.txt
/agsw/agsw/Debug
/agsw/agsw/agsw.vcxproj.user
/agsw/agsw/agsw.vcxproj.filters
/agsw/agsw/agsw.vcxproj
/agsw/agsw/agsw.cpp
/agsw/agsw.sln
/agsw/.vs/agsw/v16
/agsw/.vs/launch.vs.json
/agsw/.vs/slnx.sqlite
/agsw/.vs/ProjectSettings.json
/agsw/.vs/VSWorkspaceState.json
/tss/.vs/tss/v16/ipch/AutoPCH/a62f74771512a860
/tss/.vs/tss/v16
/tss/tss/tss.vcxproj
/tss/tss/tss.vcxproj.filters
/tss/tss/tss.vcxproj.user
/tss/tss.sln
/tss/Debug
/tss/tss/Debug
/tss/tss/LICENSE
/tss/tss/Log.txt
